{{yield}}

<div class="col-md-4">
  <div class="news">
    <div class="info">
      <h3>{{news.title}}</h3>
      <img src={{news.image}} alt="" height="250px" width="250px" />
      <p>{{news.description}}</p>
    </div>
  </div>
</div>
